.container {
    display: flex;
    justify-content: center;
    width: 55%;
    padding: 45px;
    background-image: linear-gradient(180deg,  20%, #cfd6e6 100%);
    
    margin: 50px 0;
}

.card {
    margin: 2% 0 !important;
    
}

.infected {
    border-bottom: 10px solid #03045e;
}

.recovered {
    border-bottom: 10px solid #70e000;
}

.deaths {
    border-bottom: 10px solid #c1121f;
}
  
.container {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }
  .card {
    margin: 0 2% !important;
  }
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }